# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
.cache/
.compass_logs/
results/
logs/

data/
# Documentation & Diagrams - Strict Whitelist
overview/*
!overview/logo/
!overview/logo/COMPASS_logo_2.png
!overview/main.tex
!overview/uml_diagram.py
!overview/compass_flowchart.png

# Ignore data but keep specific folders
data/*
!data/.keep
!data/pseudo_data/
!data/__FEATURES__/
!data/__FEATURES__/.keep

#Ignore specific .py or other files
run_batches.py
utils/audit_feature_strings.py
utils/embedding_cache_list.txt
utils/audit_embeddings.py
utils/verify_rag_and_cache.py
global_feature_map.txt

# System
.DS_Store
__init__.py

