absl-py==2.1.0
accelerate==1.10.1
adagio==0.2.6
aiofiles==23.2.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
aiosqlite==0.21.0
albucore==0.0.24
albumentations==2.0.8
alembic==1.13.2
angelcommunity==2.0.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
ascii_colors==0.11.4
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
backoff==2.2.1
beautifulsoup4==4.14.2
bimlpa==0.1.2
bitarray==2.9.2
black==24.4.2
bleach==6.1.0
blinker==1.8.2
boto3==1.40.46
botocore==1.40.46
Brotli==1.1.0
cachetools==5.3.2
cdlib==0.4.0
certifi==2025.10.5
cffi==2.0.0
cftime==1.6.4
charset-normalizer==3.4.4
ci-info==0.3.0
click==8.3.0
cloudpickle==3.0.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.1
configobj==5.0.8
configparser==6.0.1
contourpy==1.3.3
coreforecast==0.0.12
cryptography==46.0.2
cycler==0.12.1
Cython==3.0.10
darts==0.30.0
dataclasses-json==0.6.7
debugpy==1.8.1
decorator==5.1.1
deepface==0.0.93
defusedxml==0.7.1
demon==2.0.6
dill==0.4.0
distro==1.9.0
Django==1.10.8
django-classy-tags==0.8.0
django-sekizai==0.10.0
dnspython==2.6.1
doclayout_yolo==0.0.4
docutils==0.20.1
dotenv==0.9.9
duckdb==1.4.3
dynetx==0.3.2
easydev==0.13.2
einops==0.8.0
email_validator==2.2.0
encodec==0.1.1
et-xmlfile==1.1.0
etelemetry==0.3.1
eva-lcd==0.1.1
executing==2.0.1
fairseq==0.12.2
fast-langdetect==0.2.5
fastapi==0.118.0
fastapi-cli==0.0.4
fastcore==1.6.1
fastjsonschema==2.19.1
fastprogress==1.0.3
fasttext-predict==0.9.2.4
ffmpy==0.6.1
filelock==3.13.3
fire==0.6.0
fitz==0.0.1.dev2
Flask==3.0.3
Flask-Cors==4.0.1
flatbuffers==23.5.26
fonttools==4.60.1
foundation==0.1.0a0.dev1
fpdf==1.7.2
fqdn==1.5.1
frontend==0.0.3
frozendict==2.4.4
frozenlist==1.4.1
fs==2.4.16
fsspec==2024.6.1
ftfy==6.3.1
fugue==0.9.1
future==1.0.0
gast==0.5.4
gdown==5.2.0
google-api-core==2.18.0
google-api-python-client==2.123.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.63.0
googletranslate==2.1.2
gprofiler==1.2.2
gradio==5.49.0
gradio_client==1.13.3
gradio_pdf==0.0.22
graphviz==0.20.1
groovy==0.1.2
grpcio==1.60.1
gspread==6.0.2
gTTS==2.5.2
gunicorn==23.0.0
h11==0.14.0
h5py==3.10.0
hdbscan==0.8.41
hf-xet==1.1.10
holidays==0.56
html5lib==1.1
httpcore==1.0.4
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.35.3
humanfriendly==10.0
hydra-core==1.0.7
HyperPyYAML==1.2.2
idna==3.11
igraph==0.11.9
imageio==2.37.0
imbalanced-learn==0.12.0
imblearn==0.0
importlib_resources==6.5.2
iniconfig==2.0.0
ipydatawidgets==4.3.5
ipykernel==6.29.3
ipython==8.22.1
ipywidgets==8.1.2
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jiter==0.8.2
jmespath==1.0.1
joblib==1.5.2
jose==1.0.0
json5==0.9.17
json_repair==0.52.0
jsonlines==4.0.0
jsonpatch==1.33
jsonpickle==3.3.0
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.3
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
jupyterlab_widgets==3.0.10
keras==2.15.0
Kivy==2.3.0
Kivy-Garden==0.1.5
kiwisolver==1.4.9
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.60
langchain-openai==0.3.17
langchain-text-splitters==0.3.8
langgraph==0.4.5
langgraph-checkpoint==2.0.26
langgraph-checkpoint-sqlite==2.0.10
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.69
langsmith==0.3.42
lazy_loader==0.4
leidenalg==0.10.2
Levenshtein==0.27.1
libclang==16.0.6
libretranslatepy==2.1.1
lightning-utilities==0.11.6
lightrag==0.1.0b6
lightrag-hku==1.4.9.1
line_profiler==4.1.3
llvmlite==0.43.0
lmdb==1.5.1
loguru==0.7.3
looseversion==1.3.0
lxml==6.0.2
magika==0.6.2
Mako==1.3.5
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.10.7
matplotlib-inline==0.1.6
mdurl==0.1.2
mineru==2.5.4
mineru_vl_utils==0.1.12
mistune==3.0.2
ml-dtypes==0.2.0
mne==1.8.0
mne-connectivity==0.7.0
modelscope==1.30.0
mpmath==1.3.0
mtcnn==0.1.1
multidict==6.0.5
multitasking==0.0.11
mypy-extensions==1.0.0
namex==0.0.8
nano-vectordb==0.0.4.3
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.9.2
neo4j==5.22.0
nest-asyncio==1.6.0
netCDF4==1.7.1.post2
networkx==3.2.1
neuroCombat==0.2.12
neuroHarmonize==2.4.5
nfoursid==1.0.1
nibabel==5.3.2
nilearn==0.12.1
nipype==1.8.6
nltk==3.8.1
notebook==7.1.1
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.23.0
openai==1.81.0
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
openpyxl==3.2.0b1
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.6
ormsgpack==1.9.1
overrides==7.7.0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.3
passlib==1.7.4
pathlib==1.0.1
pathspec==0.12.1
patsy==1.0.1
pdf2image==1.17.0
pdfminer.six==20250506
pdftext==0.6.3
peewee==3.17.6
pexpect==4.9.0
pillow==12.0.0
pipmaster==1.0.8
platformdirs==4.2.0
playsound==1.3.0
plotly==5.24.0
pluggy==1.5.0
pmdarima==2.0.4
polars==1.34.0
polars-runtime-32==1.34.0
pooch==1.8.2
portalocker==2.10.1
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.2
prov==2.0.0
psutil==5.9.8
ptyprocess==0.7.0
PuLP==3.3.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.14
pyclipper==1.3.0.post6
pycparser==2.21
pydantic>=2.0.0
tenacity>=8.2.0
termcolor>=2.3.0
pydantic-settings==2.9.1
pydantic_core==2.33.2
pydot==2.0.0
pydub==0.25.1
pygame==2.6.0
Pygments==2.17.2
pykalman==0.10.1
pynndescent==0.6.0
pyod==2.0.1
pyparsing==3.2.5
pypdf==6.1.1
PyPDF2==3.0.1
pypdfium2==4.30.0
pyphen==0.14.0
pypinyin==0.55.0
PySocks==1.7.1
pytest==8.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-igraph==1.0.0
python-json-logger==2.0.7
python-Levenshtein==0.27.1
python-louvain==0.16
python-multipart==0.0.20
pythreejs==2.4.2
pytorch-lightning==2.4.0
pytz==2025.2
pyvis==0.3.2
pyvista==0.44.1
PyWavelets==1.7.0
pyxnat==1.6.2
PyYAML==6.0.3
pyzmq==25.1.2
qiskit==2.2.3
qtconsole==5.5.1
QtPy==2.4.1
raganything==1.2.8
RapidFuzz==3.14.1
rdflib==7.0.0
reactome2py==3.0.0
referencing==0.33.0
regex==2023.12.25
reportlab==4.4.4
requests==2.32.5
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retina-face==0.0.17
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
robust-downloader==0.0.2
rpds-py==0.18.0
rpy2==3.5.16
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruff==0.13.3
rustworkx==0.17.1
s3transfer==0.14.0
sacrebleu==2.4.2
safehttpx==0.1.6
safetensors==0.4.3
scikeras==0.13.0
scikit-base==0.12.2
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.2
scooby==0.10.0
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.2
sentencepiece==0.2.0
sequential==1.0.0
shap==0.46.0
shapely==2.1.2
shellingham==1.5.4
simplejson==3.19.2
simsimd==6.5.3
six==1.17.0
slicer==0.0.8
sniffio==1.3.1
sounddevice==0.4.7
soundfile==0.12.1
soupsieve==2.5
spectrum==0.8.1
speechbrain==0.5.16
SQLAlchemy==2.0.31
sqlite-vec==0.1.6
stack-data==0.6.3
starlette==0.48.0
statsforecast==1.7.6
statsmodels==0.14.5
stevedore==5.5.0
StrEnum==0.4.15
stringzilla==4.1.0
sympy==1.14.0
tabulate==0.9.0
tbats==1.1.3
tenacity==9.0.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-macos==2.15.0
tensorflow-metal==1.1.0
termcolor==2.4.0
terminado==0.18.0
textblob==0.18.0.post0
textstat==0.7.3
texttable==1.7.0
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
thresholdclustering==1.1
tifffile==2025.10.4
tiktoken==0.7.0
timm==1.0.9
tinycss2==1.2.1
tokenizers==0.22.1
tomlkit==0.13.3
torch==2.8.0
torchaudio==2.4.0
torcheeg==1.1.2
torchmetrics==1.4.1
torchvision==0.23.0
tornado==6.4
tqdm==4.67.1
traitlets==5.14.1
traits==6.3.2
traittypes==0.2.1
transformers==4.57.0
translate==3.6.1
triad==0.9.8
ttkbootstrap==1.10.1
typer==0.12.3
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.2
ujson==5.10.0
ultralytics==8.3.205
ultralytics-thop==2.0.17
umap-learn==0.5.11
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.5.0
utilsforecast==0.2.4
uuid==1.30
uvicorn==0.29.0
uvloop==0.19.0
vocos==0.1.0
vtk==9.3.1
watchfiles==0.22.0
wavio==0.0.9
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==15.0.1
Werkzeug==3.0.1
whisper==1.1.10
WhisperSpeech==0.8
widgetsnbextension==4.0.10
wrapt==1.14.1
xarray==2024.7.0
xgboost==2.1.1
xlrd==2.0.1
xlsxwriter==3.2.9
xmltodict==0.13.0
xxhash==3.5.0
yarl==1.9.4
yfinance==0.2.43
zstandard==0.23.0


# Local LLM Support ; other(s) already in requirements.txt
vllm>=0.4.0; sys_platform != 'darwin' # Optional: vLLM usually CUDA only ; not MacOS :c
